{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('https://img.freepik.com/free-photo/flat-lay-hobby-study-work-concept-blue-background_169016-18181.jpg?w=740&t=st=1660890781~exp=1660891381~hmac=ab09333a794bb19f5c493c26827bb5ff8c5f2d61676f81de527828c9bf6b6fd7')"
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1 style="color: #002B5B; font-family: 'Sacramento', cursive;">Scribble it!</h1>


            <span class="subheading" style="color: #3D3C42">A collection of random musings.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container" style="background-color: #DAEAF1;">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {% for post in all_posts %}
        <div class="post-preview">
          <a href="{{ url_for('show_post', post_id=post.id) }}">
            <h2 class="post-title">
              {{post.title}}
            </h2>
            <h3 class="post-subtitle">
              {{post.subtitle}}
            </h3>
          </a>
          <p class="post-meta">Posted by
            <a href="#">{{post.author.name}}</a>
            on {{post.date}}
            {% if current_user.id == post.author.id: %}
            <a href="{{url_for('delete_post', post_id=post.id) }}">❌</a>
            {% endif %}
          </p>
        </div>
        <hr>
        {% endfor %}


        <!-- New Post -->
        {% if current_user.is_authenticated: %}
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="{{url_for('add_new_post')}}">Create New Post</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>

{% include "footer.html" %}